<a href="https://colab.research.google.com/github/AndrewManteza/Data-Science-Colab-Notebooks/blob/main/Manteza_MidtermExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PART 1 Online Retail

A.

In [ ]:
import pandas as pd
import numpy as np
from pandas import ExcelWriter
from pandas import ExcelFile

retail_frame = pd.read_excel("/content/Online Retail.xlsx")

In [ ]:
print (retail_frame)

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

B.

In [ ]:
retail_frame.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [ ]:
retail_frame.mode()

  InvoiceNo StockCode  ... CustomerID         Country
0    573585    85123A  ...    17841.0  United Kingdom

[1 rows x 8 columns]

C.

In [ ]:
mean_value=retail_frame['CustomerID'].mean()
mode_value=retail_frame['Description'].mode()
retail_frame.fillna(mean_value)
retail_frame.fillna(mode_value)

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

D.

In [ ]:
print(retail_frame.describe(), '\n')

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

E.

In [ ]:
retail_frame20 = retail_frame.head(20)
print(retail_frame20)

   InvoiceNo StockCode  ... CustomerID         Country
0     536365    85123A  ...    17850.0  United Kingdom
1     536365     71053  ...    17850.0  United Kingdom
2     536365    84406B  ...    17850.0  United Kingdom
3     536365    84029G  ...    17850.0  United Kingdom
4     536365    84029E  ...    17850.0  United Kingdom
5     536365     22752  ...    17850.0  United Kingdom
6     536365     21730  ...    17850.0  United Kingdom
7     536366     22633  ...    17850.0  United Kingdom
8     536366     22632  ...    17850.0  United Kingdom
9     536367     84879  ...    13047.0  United Kingdom
10    536367     22745  ...    13047.0  United Kingdom
11    536367     22748  ...    13047.0  United Kingdom
12    536367     22749  ...    13047.0  United Kingdom
13    536367     22310  ...    13047.0  United Kingdom
14    536367     84969  ...    13047.0  United Kingdom
15    536367     22623  ...    13047.0  United Kingdom
16    536367     22622  ...    13047.0  United Kingdom
17    536367     21754  ...    13047.0  United Kingdom
18    536367     21755  ...    13047.0  United Kingdom
19    536367     21777  ...    13047.0  United Kingdom

[20 rows x 8 columns]

F.

In [ ]:
retail_sample_frame = retail_frame.sample(frac=0.3)
retail_sample_frame

       InvoiceNo StockCode  ... CustomerID         Country
401726    571441    84596B  ...    14096.0  United Kingdom
480420    577302     48138  ...    17904.0  United Kingdom
124507    546980     21843  ...    13591.0  United Kingdom
327191    565618     22469  ...    15974.0  United Kingdom
463217    576055     21889  ...    15449.0  United Kingdom
...          ...       ...  ...        ...             ...
535733    581217     22875  ...        NaN  United Kingdom
345720    567175     22188  ...    13067.0  United Kingdom
180394    552316     23298  ...    15674.0  United Kingdom
175576    551966     21733  ...    15356.0  United Kingdom
57162     541133     22188  ...        NaN  United Kingdom

[162573 rows x 8 columns]

G.

In [ ]:
retail_sample_frame.Description.unique()

array(['SMALL DOLLY MIX DESIGN ORANGE BOWL', 'DOORMAT UNION FLAG',
       'RED RETROSPOT CAKE STAND', ..., 'GOLDIE LOOKING MIRROR',
       'GLASS BEAD HOOP EARRINGS GREEN', 'WAY OUT METAL SIGN '],
      dtype=object)

H.

In [ ]:
print(retail_sample_frame.groupby([pd.Grouper(key = 'InvoiceDate', freq='M'),'Quantity']).sum())

                      UnitPrice  CustomerID
InvoiceDate Quantity
2010-12-31  -500           2.55     16013.0
            -300           0.72     16013.0
            -177           0.00         0.0
            -150           0.00         0.0
            -144           0.72     16546.0
...                         ...         ...
2011-12-31   388           1.95     17857.0
             400           1.79     15769.0
             620           2.55     16000.0
             800           0.25     17857.0
             960           3.39     16210.0

[1730 rows x 2 columns]

I.

In [ ]:
print(retail_sample_frame.groupby([pd.Grouper(key='InvoiceDate', freq='W'), 'Description']).sum().head(50))

                                                 Quantity  ...  CustomerID
InvoiceDate Description                                    ...
2010-12-05   SET 2 TEA TOWELS I LOVE LONDON            17  ...     68982.0
            10 COLOUR SPACEBOY PEN                     50  ...     29912.0
            12 DAISY PEGS IN WOOD BOX                   1  ...     17920.0
            12 PENCIL SMALL TUBE WOODLAND              50  ...     64030.0
            12 PENCILS SMALL TUBE RED RETROSPOT       244  ...     98445.0
            12 PENCILS SMALL TUBE SKULL                36  ...     50531.0
            12 PENCILS TALL TUBE RED RETROSPOT         13  ...     27586.0
            12 PENCILS TALL TUBE WOODLAND              17  ...     29721.0
            12 RED ROSE PEG PLACE SETTINGS              3  ...     33192.0
            15CM CHRISTMAS GLASS BALL 20 LIGHTS         8  ...     27870.0
            20 DOLLY PEGS RETROSPOT                    26  ...     27788.0
            200 RED + WHITE BENDY STRAWS               13  ...     30474.0
            3 GARDENIA MORRIS BOXED CANDLES             5  ...     30736.0
            3 HEARTS HANGING DECORATION RUSTIC         10  ...     45350.0
            3 HOOK HANGER MAGIC GARDEN                 12  ...     12662.0
            3 HOOK PHOTO SHELF ANTIQUE WHITE            6  ...     28862.0
            3 PIECE SPACEBOY COOKIE CUTTER SET         21  ...     29710.0
            3 ROSE MORRIS BOXED CANDLES                 4  ...     12725.0
            3 STRIPEY MICE FELTCRAFT                   24  ...     89415.0
            3 TIER CAKE TIN GREEN AND CREAM             2  ...         0.0
            3 TRADITIONAl BISCUIT CUTTERS  SET          6  ...     13418.0
            36 DOILIES DOLLY GIRL                       1  ...     14081.0
            36 FOIL HEART CAKE CASES                    5  ...     60356.0
            36 FOIL STAR CAKE CASES                     2  ...     29871.0
            36 PENCILS TUBE RED RETROSPOT               1  ...     17402.0
            36 PENCILS TUBE SKULLS                      1  ...     12748.0
            36 PENCILS TUBE WOODLAND                    2  ...     15574.0
            3D CHRISTMAS STAMPS STICKERS               22  ...     48992.0
            3D SHEET OF CAT STICKERS                   12  ...     14911.0
            3D SHEET OF DOG STICKERS                    2  ...         0.0
            3D TRADITIONAL CHRISTMAS STICKERS          25  ...     34792.0
            3D VINTAGE CHRISTMAS STICKERS               1  ...     16931.0
            4 ROSE PINK DINNER CANDLES                 12  ...     17581.0
            4 TRADITIONAL SPINNING TOPS                18  ...     29353.0
            4 VANILLA BOTANICAL CANDLES                 1  ...         0.0
            5 HOOK HANGER MAGIC TOADSTOOL              24  ...     26168.0
            5 HOOK HANGER RED MAGIC TOADSTOOL          12  ...     12567.0
            5 STRAND GLASS NECKLACE AMETHYST            1  ...         0.0
            5 STRAND GLASS NECKLACE CRYSTAL             1  ...     17908.0
            6 CHOCOLATE LOVE HEART T-LIGHTS             6  ...     32647.0
            6 RIBBONS ELEGANT CHRISTMAS                20  ...     32149.0
            6 RIBBONS EMPIRE                            2  ...     12748.0
            6 RIBBONS RUSTIC CHARM                     26  ...     54469.0
            6 RIBBONS SHIMMERING PINKS                  1  ...     14506.0
            60 CAKE CASES DOLLY GIRL DESIGN             4  ...     14081.0
            60 CAKE CASES VINTAGE CHRISTMAS           179  ...    103591.0
            60 TEATIME FAIRY CAKE CASES               177  ...     87642.0
            72 SWEETHEART FAIRY CAKE CASES             60  ...     45701.0
            75 GREEN PETIT FOUR CASES                   1  ...     16891.0
            A4 WALL TIDY BLUE OFFICE                    2  ...         0.0

[50 rows x 3 columns]

J.

In [ ]:
group_by_country = retail_sample_frame

print(group_by_country.groupby([pd.Grouper(key='Country')]).UnitPrice.sum())

Country
Australia                 1225.740
Austria                    428.870
Bahrain                     15.210
Belgium                   2256.010
Brazil                      60.690
Canada                     136.150
Channel Islands            986.830
Cyprus                     999.550
Czech Republic              20.240
Denmark                    488.050
EIRE                     12024.770
European Community          72.750
Finland                    930.040
France                   13830.010
Germany                  11269.590
Greece                     259.540
Hong Kong                 3402.690
Iceland                    140.120
Israel                     409.320
Italy                     1171.850
Japan                      232.470
Lebanon                     82.300
Lithuania                   30.900
Malta                      130.450
Netherlands               1805.660
Norway                    2666.640
Poland                     424.440
Portugal                  5912.090
RSA                         75.700
Saudi Arabia                 5.900
Singapore                12645.640
Spain                     3968.450
Sweden                     562.430
Switzerland               2045.640
UK                         183.480
USA                        199.570
Uk                           1.950
United Arab Emirates        32.900
United Kingdom          701500.671
Unspecified                323.410
Name: UnitPrice, dtype: float64

K.

In [ ]:
group_by_description = retail_sample_frame
print(group_by_description.groupby([pd.Grouper(key='Description')]).UnitPrice.sum())

Description
 4 PURPLE FLOCK DINNER CANDLES     29.63
 50'S CHRISTMAS GIFT BAG LARGE     71.97
 DOLLY GIRL BEAKER                 55.37
 I LOVE LONDON MINI BACKPACK      128.22
 NINE DRAWER OFFICE TIDY          235.98
                                   ...
wrong barcode                       0.00
wrong code                          0.00
wrongly coded 20713                 0.00
wrongly marked carton 22804         0.00
wrongly sold as sets                0.00
Name: UnitPrice, Length: 3823, dtype: float64

Part 2 Family Income and Expenditure

A.

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

family_frame = pd.read_csv("/content/Family Income and Expenditure - Family Income and Expenditure.csv")

B.

In [ ]:
print(family_frame.isnull().sum())

Total Household Income                              0
Region                                              0
Total Food Expenditure                              0
Main Source of Income                               0
Agricultural Household indicator                    0
Bread and Cereals Expenditure                      15
Total Rice Expenditure                              0
Meat Expenditure                                    0
Total Fish and  marine products Expenditure         0
Fruit Expenditure                                   0
Vegetables Expenditure                              0
Restaurant and hotels Expenditure                  19
Alcoholic Beverages Expenditure                     0
Tobacco Expenditure                                 0
Clothing, Footwear and Other Wear Expenditure       0
Housing and water Expenditure                       0
Imputed House Rental Value                          0
Medical Care Expenditure                            0
Transportation Expenditure                          0
Communication Expenditure                           0
Education Expenditure                               0
Miscellaneous Goods and Services Expenditure        0
Special Occasions Expenditure                       0
Crop Farming and Gardening expenses                 0
Total Income from Entrepreneurial Acitivites        0
Household Head Sex                                  0
Household Head Age                                 67
Household Head Marital Status                       0
Household Head Highest Grade Completed              0
Household Head Job or Business Indicator            0
Household Head Occupation                        7536
Household Head Class of Worker                   7536
Type of Household                                   0
Total Number of Family members                      0
Members with age less than 5 year old               0
Members with age 5 - 17 years old                   0
Total number of family members employed             0
Type of Building/House                              0
Type of Roof                                        0
Type of Walls                                       0
House Floor Area                                    0
House Age                                           0
Number of bedrooms                                  0
Tenure Status                                       0
Toilet Facilities                                   0
Electricity                                         0
Main Source of Water Supply                         0
Number of Television                                0
Number of CD/VCD/DVD                                0
Number of Component/Stereo set                      0
Number of Refrigerator/Freezer                      0
Number of Washing Machine                           0
Number of Airconditioner                            0
Number of Car, Jeep, Van                            0
Number of Landline/wireless telephones              0
Number of Cellular phone                            0
Number of Personal Computer                         0
Number of Stove with Oven/Gas Range                 0
Number of Motorized Banca                           0
Number of Motorcycle/Tricycle                       0
dtype: int64

C.

In [ ]:
mean_value=family_frame['Bread and Cereals Expenditure'].mean()
mean_value=family_frame['Restaurant and hotels Expenditure'].mean()
mean_value=family_frame['Household Head Age'].mean()
mode_value=family_frame['Household Head Occupation'].mode()
mode_value=family_frame['Household Head Class of Worker'].mode()
family_frame.fillna(mean_value)
family_frame.fillna(mode_value)

       Total Household Income  ... Number of Motorcycle/Tricycle
0                      480332  ...                             1
1                      198235  ...                             2
2                       82785  ...                             0
3                      107589  ...                             0
4                      189322  ...                             1
...                       ...  ...                           ...
41539                  119773  ...                             0
41540                  137320  ...                             0
41541                  133171  ...                             0
41542                  129500  ...                             0
41543                  128598  ...                             0

[41544 rows x 60 columns]

D.

In [ ]:
family_frame.head(20)

    Total Household Income  ... Number of Motorcycle/Tricycle
0                   480332  ...                             1
1                   198235  ...                             2
2                    82785  ...                             0
3                   107589  ...                             0
4                   189322  ...                             1
5                   152883  ...                             1
6                   198621  ...                             1
7                   134961  ...                             1
8                   171152  ...                             0
9                   625753  ...                             0
10                  147005  ...                             1
11                  253130  ...                             0
12                  101111  ...                             0
13                  128214  ...                             1
14                   91525  ...                             0
15                  171742  ...                             0
16                   95385  ...                             0
17                  142843  ...                             0
18                   88170  ...                             0
19                   97018  ...                             0

[20 rows x 60 columns]

E.

In [ ]:
family_sample_frame =family_frame.sample(frac=0.2)
family_sample_frame

       Total Household Income  ... Number of Motorcycle/Tricycle
2884                   232535  ...                             1
40685                  158033  ...                             0
36478                  184260  ...                             0
22235                  481396  ...                             1
33672                  145915  ...                             0
...                       ...  ...                           ...
32734                  116985  ...                             0
38201                  197928  ...                             0
39346                  183718  ...                             0
11741                  143531  ...                             0
12484                  100559  ...                             0

[8309 rows x 60 columns]

F.

In [ ]:
results = family_sample_frame['Household Head Age']
bins = [0,25,50,75,100]
Bin1 = pd.cut(results, bins)
names = ['0-25','26-50','51-75','76-100']
Bin1 = pd.cut(results, bins, labels=names)

G

In [ ]:
print(pd.value_counts(Bin1), '\n')

26-50     3866
51-75     3791
76-100     453
0-25       186
Name: Household Head Age, dtype: int64

H.

In [ ]:
result5 = pd.cut(family_sample_frame['Household Head Age'], bins=5)

I.

In [ ]:
print(result5)

2884      (45.6, 63.4]
40685     (45.6, 63.4]
36478     (45.6, 63.4]
22235     (63.4, 81.2]
33672     (27.8, 45.6]
             ...
32734     (45.6, 63.4]
38201     (45.6, 63.4]
39346     (45.6, 63.4]
11741    (9.911, 27.8]
12484    (9.911, 27.8]
Name: Household Head Age, Length: 8309, dtype: category
Categories (5, interval[float64]): [(9.911, 27.8] < (27.8, 45.6] < (45.6, 63.4] < (63.4, 81.2] <
                                    (81.2, 99.0]]

J.

In [ ]:
family_sample_frame_copy = family_sample_frame

K.

In [ ]:
family_sample_frame_copy = family_sample_frame_copy.select_dtypes(include=['float64', 'int64']).copy()

L.

In [ ]:
scaler = StandardScaler()

result = scaler.fit_transform(family_sample_frame_copy.values)
standard_family_frame = pd.DataFrame(result, columns=family_sample_frame_copy.columns)
standard_family_frame

      Total Household Income  ...  Number of Motorcycle/Tricycle
0                  -0.041195  ...                       1.282854
1                  -0.326742  ...                      -0.516477
2                  -0.226220  ...                      -0.516477
3                   0.912624  ...                       1.282854
4                  -0.373187  ...                      -0.516477
...                      ...  ...                            ...
8304               -0.484068  ...                      -0.516477
8305               -0.173835  ...                      -0.516477
8306               -0.228298  ...                      -0.516477
8307               -0.382324  ...                      -0.516477
8308               -0.547024  ...                      -0.516477

[8309 rows x 45 columns]

M.

In [ ]:
from sklearn.decomposition import PCA

pca_family = PCA(n_components=2)
principalComponents_family = pca_family.fit_transform(x)

principal_family_frame = pd.DataFrame(data = principalComponents_family, columns = ['principal component 1', 'principal component 2'])
principal_family_frame.tail(10)

NameError: ignored

N

O

In [ ]:
columns = ['Total Household Income','Region','Total Food Expenditure','Main Source of Income','Total Income from Entrepreneurial Acitivites','Household Head Sex','Household Head Age','Household Head Marital Status']
new_frame2 = family_sample_frame[columns]

EXPLANATION

PART 1
I imported the required libraries and used the read excel for the excel file in pandas. I searched for the missing values in the dataset and used the fill function to replace them with both the mean and mode which was determined by the mean and the mode function in pandas. After replacing the values I then printed the details of the frame and printed the first 20 records of the dataset.
I then split the dataset into 30percent for the sample frame which I then determined the unique values with the unique function in pandas. I also determined the amount added to the customer on a monthly basis by looking the current date which goes the same for the next letter. The code for the final one is largely the same as the prvious 2 and all you need to do is replace the parameters.


PART 2

I imported the required libraries for the process. I then
used the fill function of pandas to fill the missing values in the data set
with the means and modes required. Showed the first 20 rows and split the data into 20% for a sample.
I then created 4 bins to categroize the data using cut function of pandas and printed their frequencies. I also created another 5 bins based on the household age and allow the programe to automatically determine them.
I then created a copy of the sample data frame and updated its features to be numerical as well as standardized the values of the remaining features using standard scaler.